                    ,
                    |`-.__
                    / ' _/
                   ****`
                  /    }
                 /  \ /
             \ /`   \\\
             `\    /_\\
               `~~~~~``~`
        <[--------------------]>

Server is Managed by Orangutan Ansible Playbook

* Link: https://github.com/Norwik/Orangutan
* Version: v0.1.0
